
#Constantes de configuracion
PROJECT_NAME="Employee Experience"
ALLOWED_DOMAINS="*"
ALLOWED_METHODS="GET, POST, PATCH, DELETE"
SYNC_PARAMS={"force":true}

#Puerto de la aplicacion
PORT=3002

#Postgres
DB_HOST=localhost
DB_NAME=employee_experience
DB_SCHEMA=main
DB_USER=postgres
DB_PASSWORD=
DB_DIALECT=postgres
DB_PORT=5432

#Auth0
AUTH0_DOMAIN=your-auth0-domain.auth0.com
AUTH0_AUDIENCE=https://your-api-identifier
AUTH0_ISSUER_BASE_URL=https://your-auth0-domain.auth0.com/
AUTH0_ROLES_CLAIM=https://employeeexperience/roles

# Gemini
GEMINI_API_KEY=
